@import "./colors.css";

* {
	font-family: Fira Code, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-weight: bold;
}

/* Notification pop-up */

/* Notification itself */
.notification-row .notification-background .notification {
  background: @background;
	border-radius: 0px;
	border: 2px solid @border;
  min-width: 400px;
}

/* Notification hover */
.notification-row .notification-background .notification .notification-action:hover,
.notification-row .notification-background .notification .notification-default-action:hover {
  background: @background-hover;
	border-radius: 0px;
}

/* Notification content */
.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
	color: @text;
}

/* The notification close button */
.notification-row .notification-background .close-button {
  background: @nf-button;
	color: @text;
}

/* Control center */

/* Control center itself */
.control-center {
	background: @background;
	color: @text;
	border-radius: 0px;
	border: 2px solid @border;
	border-top: 0px;
  min-width: 400px;
}

.widget-title {
	color: @text;
}

.widget-title > button {
	border-radius: 0px;
	background: @cc-button;
}

.widget-title > button:hover {
	background: @cc-button-hover;
}

.widget-dnd {
  color: @text;
}

.widget-dnd > switch {
	border-radius: 0px;
}

.widget-dnd > switch:checked {
  background: @switch-checked;
}
